/* Tipografía */
@font-face {
  font-family: "italic";
  src: url("https://res.cloudinary.com/dcz2dpatz/raw/upload/v1613664828/portafolio/Cormorant-LightItalic_d7poiu.ttf")
    format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "light";
  src: url("https://res.cloudinary.com/dcz2dpatz/raw/upload/v1615473092/portafolio/Cormorant-Light_bwnzvx.ttf")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}

/* Variables */
:root {
  --primario: #0000ff;
  --secundario: #000000;
  --bg: #ffffff;
  --ff-italic: "italic";
  --ff-light: "light";
  --font-size: 17px;
  --h1: 96px;
  --h2: 67px;
  --h3: 48px;
  --h4: 33px;
  --h5: 24px;
  --h6: 17px;
  --padding-helper: 50px;
}

/* Base */
body {
  font-family: var(--ff-light);
  font-weight: 400;
}

h1 {
  font-family: var(--ff-light);
  font-weight: 300;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-light);
  font-weight: 300;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* Componentes */
.layout {
  position: relative;
  background: var(--secundario);
  color: var(--bg);
}

/* Titulo */
.titulo {
  --h1: 170px;
  line-height: 1;
  display: grid;
  font-style: italic;
  min-height: 100vh; /* Esto hace que se fije al piso del 100vh */
  /*padding: 0.1em; /* Padding para no dejarlo totalmente pegado */
  padding-left: 50px;
}

.titulo h1 {
  align-self: end;
}

/* Esto aplica cuando es menor a 600px */
@media screen and (max-width: 600px) {
  .titulo {
    --h1: 58px;
    line-height: 1.2;
  }
}

/* Nav */
.nav {
  position: absolute;
  width: 100vw;
  z-index: 1000;
  overflow: hidden;
}
.nav ul {
  position: inherit;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  background: var(--primario);
  border-radius: 50%;
  z-index: 100;
}

.nav button {
  position: fixed;
  right: 25px;
  top: 25px;
  height: 100px;
  width: 100px;
  background: var(--primario);
  border-radius: 50%;
  border-color: transparent;
}

.nav button:hover {
  cursor: pointer;
}

.nav ul li a {
  color: var(--bg);
  font-size: 32px;
}

/* Esto aplica cuando es menor a 600px */
@media screen and (max-width: 600px) {
  .nav ul li a {
    font-size: 20px;
  }
}

/* About */
.about {
  background: var(--secundario);
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  overflow: hidden;
  font-style: italic;
}

.about p {
  /* width: 90vw; */
  /* margin-left: auto; */
  /* padding: 2em 0 1em; */
  font-size: 20px;
  padding-left: 50px;
}

.about img {
  margin: auto;
}

.about h2 {
  --h2: 170px;
  width: 90vw;
  padding-left: 50px;
  --h1: 170px;
  /* line-height: 0; */
  display: grid;
  font-style: italic;
  height: auto; /* Esto hace que se fije al piso del 100vh */
  /*padding: 0.1em; /* Padding para no dejarlo totalmente pegado */
}

.about div {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .about h2 {
    --h2: 68px;
  }
  .about p {
    margin-left: inherit;
  }

  .about img {
    width: 100%;
    height: auto;
  }
}

/* Proyectos */
.proyectos {
  background-color: var(--bg);
  padding: 40px 0;
}

.proyectos-titulo {
  --h2: 170px;
  color: var(--secundario);
  width: 90vw;
  padding-left: 50px;
  font-style: italic;
}

.proyectos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 30px;
  color: var(--secundario);
  width: calc(100% - var(--padding-helper) * 2);
  margin: auto;
  padding-bottom: 60px;
}

.proyectos-imagen {
  margin-top: 50px;
}

.proyectos-imagen img {
  width: auto;
  height: auto;
  border: 1px solid;
  padding: 10px;
}
.proyectos-imagen figcaption * {
  font-size: 15px;
  font-family: var(--ff-italic);
  border-right: 1px solid;
  border-left: 1px solid;
  padding-left: 10px;
}
.proyectos-imagen figcaption * + * {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

@media screen and (max-width: 600px) {
  .proyectos-titulo {
    --h2: 68px;
  }

  .proyectos-container {
    grid-template-columns: 1fr;
  }
}

/* Carrusel */
.carrusel {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.carrusel .open:checked + figure {
  position: static;
  opacity: 100;
}

.carrusel figure {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.carrusel figure img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carrusel-nav {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: var(--bg);
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: opacity 0.4s linear;
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carrusel-nav.anterior {
  left: 0.5ch;
}

.carrusel-nav.siguiente {
  right: 0.5ch;
}

.carrusel-nav:hover {
  opacity: 0.8;
}

#uno:checked ~ .uno,
#dos:checked ~ .dos,
#tres:checked ~ .tres {
  display: none;
}

.carrusel-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carrusel-dots li {
  display: inline-block;
  margin: 0 0.5rem;
}

.dot {
  color: var(--bg);
  cursor: pointer;
  display: block;
  font-size: 2rem;
  transition: opacity 0.4s linear;
}

.dot:hover {
  opacity: 0.8;
}

#uno:checked ~ .uno ~ .carrusel-dots li:nth-child(1) .dot,
#dos:checked ~ .dos ~ .carrusel-dots li:nth-child(2) .dot,
#tres:checked ~ .tres ~ .carrusel-dots li:nth-child(3) .dot {
  color: var(--secundario);
}

/* Ejemplo carrusel 2 */
#unoa:checked ~ .unoa,
#dosa:checked ~ .dosa,
#tresa:checked ~ .tresa {
  display: none;
}

#unoa:checked ~ .unoa ~ .carrusel-dots li:nth-child(1) .dot,
#dosa:checked ~ .dosa ~ .carrusel-dots li:nth-child(2) .dot,
#tresa:checked ~ .tresa ~ .carrusel-dots li:nth-child(3) .dot {
  color: var(--secundario);
}

/* Contacto */
.contacto {
  background-color: black;
  padding-left: 50px;
  font-size: 170px;
  margin: auto 0 0 0;
  padding-bottom: 60px;
  font-style: italic;
}

.info {
  background-color: black;
  padding-left: 70px;
  margin: auto 0 0 0;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 60px;
}

@media screen and (max-width: 600px) {
  #contact h3 {
    font-size: 68px;
  }
}

/* Utilities */
.flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 2px solid var(--bg);
}
